// 颜色变量
$primary-color: #3498db;
$secondary-color: #2ecc71;
$text-color: #333333;
$background-color: #ffffff;

/* 背景变量 */
$table-header-hover-bg: #f5f7fa;

/* 边框变量 */
$table-header-hover-border: #dcdfe6;

// 字体变量
$main-font: 'Arial', sans-serif;
$heading-font: 'Georgia-serif', serif;

// 间距变量
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;

// 边框变量
$border-radius: 4px;
$border-width: 1px;
